# Папки сборки
bin/
obj/

# Файлики всякие
.vs/
.vscode/launch.json  # Можно закоммитить, если настройки запуска важны для команды, но лучше локально
*.user
*.suo

# Системные файлы
.DS_Store
Thumbs.db

# Журналы и временные файлы
*.log
*.tmp

# Сборки для релизов 
build/